---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Chavez Framing | We Specialize in Construciton Framing</title>
		<description>Based in Seattle, Washington, we have experience spanning almost a decade and we strive to deliver quality
		construction projects.</description>
		// OG
		<script type="application/ld+json">
						{
					   "@context" : "https://schema.org",
						"@type" : "HomeAndConstructionBusiness",
						"areaServed": {
						"@type": "GeoCircle",
						"geoMidpoint": {
							"@type": "GeoCoordinates",
							"latitude": 47.455018,
							"longitude": -122.275665
						},
						"geoRadius": 100
					},
					"email" : "inquiry@chavezfrming.com",
					"keywords" : "construction, wood framing, build houses, houses, custom homes, remodel, addition, repair",
					"knowsAbout" : "Construction, Wood Framing, Home Repairs, Home Additions, Home Renovations",
					"knowsLanguage" : "English, Spanish",
					"currenciesAccepted" : "USD",
					"priceRange" : "Request a Free Consultation",
					"image" : "https://chavezframing.com/logo.jpg",
					"name" : "Chavez Framing",
					"url" : "https://chavezframing.com/"
				}
		</script>
		<script type="application/ld+json">
				{
			   "@context" : "https://schema.org",
				"@type" : "WebSite",
				"keywords" : "construction, wood framing, build houses, houses, custom homes, remodel, addition, repair",
				"image" : "https://chavezframing.com/logo.jpg",
				"name" : "Chavez Framing",
				"url" : "https://chavezframing.com/"
		}
</script>
	</head>
	<body>
		<h1>Astro</h1>	
	</body>
</html>
